section.features
   .container
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-tools
            .feature_content
               h5.feature_content__title Easily Customised
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-desktop
            .feature_content
               h5.feature_content__title Responsive Ready
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-lightbulb
            .feature_content
               h5.feature_content__title Modern Design
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-genius
            .feature_content
               h5.feature_content__title Clean Code
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-briefcase
            .feature_content
               h5.feature_content__title Ready to Ship
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
         .col-md-4.col-sm-6.feature
            span.feature__icon.icon-download
            .feature_content
               h5.feature_content__title Download for Free
               p.feature_content__description Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.