.footer
   .container
      nav.footer_nav
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
         a.footer_nav__item(href="")
