.header
   .container.header_container
      a.header_logo
         img(src='').header_logo__img
      nav.header_nav
         a.header_nav__item(href="")
         a.header_nav__item(href="")
         a.header_nav__item(href="")
         a.header_nav__item(href="")
         a.header_nav__item(href="")
      h1.header__title
      button.header__button
