.header
   .container.header_container
      .header_nav-container.clearfix
        a.header_logo
            img(src='images/logo.png').header_logo__img
        nav.header_nav
            a.header_nav__item(href="") features
            a.header_nav__item(href="") works
            a.header_nav__item(href="") our team
            a.header_nav__item(href="") testimonials
            a.header_nav__item(href="") download
      .header_title-container.clearfix
        h1.header__title your favorite one page multi purpose template
        h4.header__subtitle Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        button.header__button find out more
