section.teams
   .container
         .col-md-3.col-sm-6
            .person
               img.img-responsive(src='images/team-1.jpg', alt='')
               .person_content
                  h4.person__name Ruth Wood
                  h5.person__role Founder, CEO
                  p.person__description Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
               ul.social-icons.clearfix
                  li
                     a(href='#')
                        span.fa.fa-facebook
                  li
                     a(href='#')
                        span.fa.fa-twitter
                  li
                     a(href='#')
                        span.fa.fa-linkedin
                  li
                     a(href='#')
                        span.fa.fa-google-plus
                  li
                     a(href='#')
                        span.fa.fa-dribbble
         .col-md-3.col-sm-6
            .person
               img.img-responsive(src='images/team-2.jpg', alt='')
               .person_content
                  h4.person__name Timothy Reed
                  h5.person__role Co-Founder, Developer
                  p.person__description Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
               ul.social-icons.clearfix
                  li
                     a(href='#')
                        span.fa.fa-facebook
                  li
                     a(href='#')
                        span.fa.fa-twitter
                  li
                     a(href='#')
                        span.fa.fa-linkedin
                  li
                     a(href='#')
                        span.fa.fa-google-plus
                  li
                     a(href='#')
                        span.fa.fa-dribbble
         .col-md-3.col-sm-6
            .person
               img.img-responsive(src='images/team-3.jpg', alt='')
               .person_content
                  h4.person__name Victoria Valdez
                  h5.person__role UI Designer
                  p.person__description usce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
               ul.social-icons.clearfix
                  li
                     a(href='#')
                        span.fa.fa-facebook
                  li
                     a(href='#')
                        span.fa.fa-twitter
                  li
                     a(href='#')
                        span.fa.fa-linkedin
                  li
                     a(href='#')
                        span.fa.fa-google-plus
                  li
                     a(href='#')
                        span.fa.fa-dribbble
         .col-md-3.col-sm-6
            .person
               img.img-responsive(src='images/team-4.jpg', alt='')
               .person_content
                  h4.person__name Beverly Little
                  h5.person__role Data Scientist
                  p.person__description Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
               ul.social-icons.clearfix
                  li
                     a(href='#')
                        span.fa.fa-facebook
                  li
                     a(href='#')
                        span.fa.fa-twitter
                  li
                     a(href='#')
                        span.fa.fa-linkedin
                  li
                     a(href='#')
                        span.fa.fa-google-plus
                  li
                     a(href='#')
                        span.fa.fa-dribbble