include mixins
doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      link(href='style/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='style/flexslider.css', rel='stylesheet', type='text/css')
      link(href='style/style.css', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      meta(name="msapplication-TileColor", content="#00aba9")
      meta(name="msapplication-TileImage", content="mstile-144x144.png")
      meta(name="theme-color", content="#ffffff")
      meta(name="viewport", content="width=device-width")
      title Hello world!
   body
      block content
      script(src="scripts/jquery.min.js")
      script(src="scripts/bootstrap.min.js")
      script(src="scripts/jquery.flexslider-min.js")
      script(src="scripts/jquery.fancybox.pack.js")
      script(src="scripts/jquery.waypoints.min.js")
      script(src="scripts/retina.min.js")
      script(src="scripts/modernizr.js")
      script(src="scripts/main.js")
