section.testimonials
   .container-fluid
       .row.no-gutter
         .flexslider
            ul.slides
               li
                  .col-md-6
                     .avatar
                        img.img-responsive(src='images/testimonial-1.jpg', alt='')
                  .col-md-6
                     blockquote.testimonials_blockquote
                        p.testimonials_blockquote__text "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                        cite.testimonials_blockquote__author Susan Sims, Interaction Designer at XYZ
               li
                  .col-md-6
                     .avatar
                        img.img-responsive(src='images/testimonial-2.jpg', alt='')
                  .col-md-6
                     blockquote.testimonials_blockquote
                        p.testimonials_blockquote__text "Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...."
                        cite.testimonials_blockquote__author Susan Sims, Interaction Designer at XYZ
