section.testimonials
   .container-fluid
         .flexslider
            ul.slides
               li
                  .col-md-6
                     .avatar
                        img.img-responsive(src='images/testimonial-1.jpg', alt='')
                  .col-md-6
                     blockquote
                        p "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."
                        cite.author Susan Sims, Interaction Designer at XYZ
               li
                  .col-md-6
                     .avatar
                        img.img-responsive(src='images/testimonial-2.jpg', alt='')
                  .col-md-6
                     blockquote
                        p "Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...."
                        cite.author Susan Sims, Interaction Designer at XYZ
